
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 22));
  }
}

.slider {
  background: #ffff;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 22);
}
.slider .slide {
  height: 100px;
  width: 250px;
}

    #imagen{


        height: 700px;
        vertical-align: middle;
        background-image: url(imagenes/fondodegradado2.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100%;
        background-color: transparent;
        background-size: cover;



      	}

      	#contenedorDos{
      	margin-top: 150px;
      }

      	#fotoclipa{


      		width: 450px;

      		-webkit-box-shadow: -1px 4px 34px 0px rgba(0,0,0,0.84);
-moz-box-shadow: -1px 4px 34px 0px rgba(0,0,0,0.84);
box-shadow: -1px 4px 18px 6px rgba(0,0,0,0.36);


border-radius: 49px 49px 49px 49px;
-moz-border-radius: 49px 49px 49px 49px;
-webkit-border-radius: 49px 49px 49px 49px;
border: 0px solid #000000;
      	}

      	#fotoclip,
     #fotoclip2
     {

 
     width: 1000px;

-webkit-box-shadow: -1px 4px 34px 0px rgba(0,0,0,0.84);
-moz-box-shadow: -1px 4px 34px 0px rgba(0,0,0,0.84);
box-shadow: -1px 4px 18px 6px rgba(0,0,0,0.36);


border-radius: 49px 49px 49px 49px;
-moz-border-radius: 49px 49px 49px 49px;
-webkit-border-radius: 49px 49px 49px 49px;
border: 0px solid #000000;

     }

     #fotoclip2{


   top: 170px;
    left: -100px;
    position: absolute;
    
    z-index: 1; /* La imagen inferior estará detrás de la superior */
     }



		 #nabmovil{
        align-items: center;
        text-decoration: none;
      }

       #nabmovil .nav-link{
        color: black;
       
        text-decoration: none;
      }

      #nabmovil .nav-link:hover{
        background: #F7F2F2;
        color: #DDD1D1;
        transition: background;
        transition-duration: 300ms;
        }

		 #asd{

        transition-property: all;
        transition-duration: 0.3s;
      }

      #naba1{

        transition-property: all;
        transition-duration: 0.3s;
      }

      #naba2{

        transition-property: all;
        transition-duration: 0.3s;
      }

      #naba3{

        transition-property: all;
        transition-duration: 0.3s;
      }
      #naba4{

        transition-property: all;
        transition-duration: 0.3s;
      }

      #logorec{
      	   transition-property: all;
        transition-duration: 0.3s;
      }

		#nab a{

			color: #003B5D;
			font-weight: 500;
		}


      #contenedor{
      	background-color: transparent;
      	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  
      }

      #ctro{
      	font-size: 1rem; 
      	color: #153770
      }

      




    @media only screen and (max-width: 992px) {

       	 #imagen{
        height: 900px;
        vertical-align: middle;
        background-image: url(imagenes/fondodegradado.png);
        background-repeat: no-repeat;
        background-position: 60% 50%;
        background-size: 100%;
        background-color: transparent;
        background-size: cover;



      }

      #contenedorDos{
      	margin-top: 50px;
      }

      #fe{
      	font-size: 0.9rem;
      }

      #logorec{

      	max-width: 60px;

      }
       #logofot{

      	width: 100%;

      }

      #contenedor{
      	background-color: transparent;
      	position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -45%);
  z-index: 2;
  width: 80%;
  padding: 20px;

      }


      #fotoclip2,
      #fotoclip
      {


   top: 0px;
    left: 0px;
    position: relative;
    max-width: 100%;

    margin-bottom: 50px;
    
  /* La imagen inferior estará detrás de la superior */
     }


   

      
  

  }